.user-info-container {
    background-color: rgba(25, 17, 28, 0.7);
    border-radius: 3px;
    color:wheat;
    margin: 90px auto;
    max-width: 900px;
    padding-bottom: 30px;
    position: relative;
}

.user-avatar {
    max-width: 150px;
    max-height: 210px;
    border: 2px solid wheat;
    border-radius: 3px;
    margin: 20px 20px;
}

.in-profile {
    color: lightsalmon;
    border: 2px solid lightsalmon;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    position: absolute;
    bottom: 3%;
    left: 20%;
    max-height: 20px;
    max-width: 50px;
    padding: 2px;
    font-size: 15px;
    margin-bottom: 3px;
}

.borrowed-books {
    margin-left: 70px;
    width: 500px;
}

.user-username {
    position: absolute;
    top: 5%;
    left: 22%;
}