.CreateReviewForm {
    color: wheat; 
}

#inputField {
    background: transparent;
    color:wheat;
    width: 720px;
    height: 25px;
    border:none;
    outline: none;
    font-size: large; 
}

#PostReviewButton {
    background-color: tomato;
    background: transparent;
    color:wheat;
    height: 30px;
    border-radius: 4px;
    float: right;
    margin-top: 10px;
}

.WriteReviewContainer {
    border: 1px solid white;
    border-radius: 3px;
    box-shadow: 10px 10px 50px 5px grey;
}