.LoginForm {
    background-color: honeydew;
    border-radius: 3px;
    width: 400px;
    margin: 0 auto;
    margin-top: 120px;
    color:wheat;
    background-color: rgba(25, 17, 28, 0.7);
}

.header {
    text-align: center;
}

.input-username-label {
    margin-left: 70px;
}

.input-username {
    outline: none;
    background-color: lightgray;
    border-radius: 10px;
}

.input-password-label {
    margin-left: 70px;
}

.input-password {
    outline: none;
    margin-left: 9px;
    background-color: lightgray;
    border-radius: 10px;
}

.login-button {
    margin-left: 171px;
    margin-bottom: 20px;
    background-color: wheat;
    border-radius: 3px;
}

.touched {
    border-radius: 10px;
  }
  
.invalid {
  border: 2px solid red;
}

.error {
  color: red;
  text-align: center;
}