.ReviewContainer {
    border: 1px solid white;
    border-radius: 3px;
    margin: 9px;
    color: antiquewhite;
    width: 500px;
    height: 100px;
    font-size: larger;
    margin-left: 115px;
    box-shadow: 10px 10px 50px 5px grey;
}

.ReviewContent {
    font-style: italic;
    font-size: large;
    margin-left: 10px;
    outline: none;
    color: white;
    background-color: transparent;
    border: none;
    width: 476px;
}

.editable:hover {
    background-color: rgba(255, 255, 255, 0.229);
    border-radius: 4px;
}

::placeholder {
    color: white;
    opacity: 3;
}

#ReviewAuthor {
    font-size: large;
    float: right;
    color: whitesmoke;
    margin-right: 4px;
}

#DeleteReviewButton {
    background-color: red;
    border-radius: 11px;
    outline: none;
    margin: 5px;
    margin-bottom: 7px;
}

#EditReviewButton {
    border-radius: 11px;
    background-color: blueviolet;
}