.Book-container {
   margin-top: 10%
}

.Book {
    background-color: rgba(25, 17, 28, 0.7);
    color: white;
    max-width: 800px;
    border-radius: 8px;
    margin: 0 auto;  
    display: grid;
    grid-template: 300px auto  / 200px 260px 300px;
    grid-template-areas: 
    "cover info summary"
    "my-act my-act my-act"
}

.book-cover {
    grid-area: cover;
    height: 250px;
    width: 150px;
    position: relative;
    left: 10%;
    top: 10%;
    box-shadow: 10px 10px 50px 5px grey;
}

.book-info {
    grid-area: info;
    color: white;
    margin-top: 10%;
}

.summary {
    grid-area: summary;
    position: relative;
    top: 10%;
    font-style: italic;
}

.my-activity {
    grid-area: my-act;
    margin-left: 4%;
    margin-bottom: 4%;
}

#title {
    font-family: Merienda One;
    font-size: 25px;
    margin-top: 15px;
}

#author {
    font-family: Poppins;
    margin-top: 15px;
    margin-left: 10px;
}

#rating {
    font-family: Poppins;
    margin-top: 15px;
    margin-right: 5px;
    margin-left: 10px;
    display:inline-block;
}

.rating-num {
    color: white;
}

.bookOptionsButton {
    color: rgb(192, 228, 192);
    border: 2px solid rgb(3, 140, 182);
    padding: 5px;
    border-radius: 5px;
    margin-top: 30px;
    display: inline-block;
    cursor:pointer;
    margin:3px;
}

.bookOptionsButton:hover {
    background-color: rgb(31, 28, 32, 0.7);
}

.summary-text {
    font-style: italic;
}
