.Header {
    background-color: rgba(25, 17, 28, 0.7);
    height: 65px;
    position: fixed;

    top: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(177, 176, 176, 0.2);
}

.nav {
  display: grid;
  grid-template-columns: auto 60px;
  grid-template-areas: 
  "buttons avatar";
  height: 65px;

}

.buttons{
  grid-area: buttons;
}

.buttons span {
  float: right;
  color: white;
  font-family: 'Playfair Display';
  font-size: 20px;
  margin-left: 40px;
  margin-top: 15px;
  position: relative;
  right: 5%;
}

.loggedUser {
    display: none;
    float: right;
    margin-right: 15px;
    color: rgb(133, 214, 52); 
    border: 2px solid greenyellow;
    border-radius: 3px;
    margin-top: 15px;
    padding: 4px;
}

.avatar {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    overflow: hidden;
    float: right;
    position: relative;
    top: 10%;
    right: 20%;
}

.avatar img {
  height: 40px;
  width: 40px;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  grid-area: avatar;
  position: relative;
  display: block;
  right: 0%;
  top: 0%;
  height: 100%;
  padding-top: 5px;

}

.dropdown-content {
  display: none;
  position: absolute;
  top: 65px;
  right: 0px;
  background-color: rgba(25, 17, 28, 0.7);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content span {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content span:hover {
  background-color: rgba(25, 17, 28);
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

#Logged-user-username {
  color:tan;
  margin-right: -55px;
  margin-top: -6px;
  font-family: monospace;
}