.borrowed-icon {
    fill: lightsalmon;
}

.available-icon {
    fill: lime;
}

.borrowed-icon, .available-icon {
    margin-left: 10px;
}

.borrowed-btn {
    color: red;
    border: 2px solid red;
    padding: 5px;
    border-radius: 5px;
    margin-top: 30px;
    display: inline-block;
}

.borrowed-btn:hover {
    background-color: rgb(31, 28, 32, 0.7);
    cursor: pointer;
}

.available-btn {
    color: rgb(192, 228, 192);
    border: 2px solid rgb(71, 192, 71);
    padding: 5px;
    border-radius: 5px;
    margin-top: 30px;
    display: inline-block;
}

.available-btn:hover {
    background-color: rgb(31, 28, 32, 0.7);
    cursor: pointer;
}

.not-available  {
    color: red;
    margin-top: 30px;
    display: inline-block;
}