.RegisterForm {
    background-color: honeydew;
    border-radius: 3px;
    width: 400px;
    margin: 0 auto;
    margin-top: 120px;
    color:wheat;
    background-color: rgba(25, 17, 28, 0.7);
}

.header {
    text-align: center;
}

.input-username-label {
    margin-left: 70px;
}

.input-username {
    background-color: lightgray;
}

.input-password-label {
    margin-left: 70px;
}

.input-password-confirm {
    background-color: lightgray;
    margin-left: 18px;
    outline: none;
    border-radius: 10px;
}

.input-password-confirm-label {
    margin-left: 70px;
}

.input-password {
    margin-left: 9px;
    background-color: lightgray;
}

.register-button {
    background-color: wheat;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-left: 165px;
}

.file-path {
    outline: none;
    border-radius: 10px;
    background-color: wheat;
    margin-left: 20px;
    max-width: 165px;
}

.touched {
    border-radius: 10px;
  }
  
.invalid {
  border: 2px solid red;
}

.error {
  color: red;
  text-align: center;
}

.file-path-label {
    margin-left: 35px;
}
