.SingleBook {
    opacity: 0.8;
    width: 400px;
    margin: 40px;
    border-radius: 4px;
    margin-left: 195px;
    box-shadow: 10px 10px 50px 5px grey;
    position: relative;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    font-size: larger;
    padding-bottom: 10px;
    display: grid;
    grid-template: 110px 25px  / 70px 260px;
    grid-template-areas: 
    "cover info "
    "details-button borrowed-info"
}

.book-Cover {
    grid-area:cover;
    max-width: 60px;
    max-height: 90px;
    margin-left: 7px;
    margin-top: 7px;
}

.details-button {
    margin-left: 7px;
    color: lightgrey;
    border: 2px solid lightgrey;
    cursor: pointer;
    border-radius: 5px;
    height: 20px;
    font-size: 15px;
    margin: 0 auto;
    padding: 2px;
}

.details-button:hover {
    background-color: rgba(0, 0, 0, 0.651);
}