.admin-tools {
    margin-top: 90px;
}

.users-container {
    background-color: rgba(25, 17, 28, 0.7);
    margin: 0 auto;
    width: 70%;
    font-size: larger;
    font-weight: bold;
    border-radius: 3px;
}

#ban-period {
    display: inline;
}

.user {
    display: block;
    margin: 10px 15px;
    height: 25px;
    border-bottom: 1px solid white;
    padding-top: 13px;
    padding-bottom: 13px;
}

.tools {
    float: right;
}

.tool-btns {
    display: inline-block;
    align-content: center;
}

#delete-user-btn {
    margin-right: 10px;
    color: red;
    border: 2px solid red;
    padding: 2px;
    font-size: 15px;
    border-radius: 5px;
} 

#delete-user-btn:hover {
    background-color: rgb(31, 28, 32, 0.7);
    cursor: pointer;
}

#ban-user-btn {
    margin-right: 10px;
    color: rgb(192, 228, 192);
    border: 2px solid rgb(3, 140, 182);
    padding: 2px;
    font-size: 15px;
    border-radius: 5px;
}

#band-user-btn:hover {
    background-color: rgb(31, 28, 32, 0.7);
}

.user-status {
    display: inline-block;
    color: white;
    font-weight: lighter;
    font-size: 15px;
    margin-left: 20px;
}