.Homepage {
    color:wheat;
    margin-top: 120px;
}

.p1 {
    color: white;
    font-family: 'Yeseva One', cursive;
    font-size: 50px;
    text-align: center;
    margin-bottom: 25px;
}

.p2 {
    color: white;
    font-family: 'Yeseva One', cursive;
    font-size: 65px;
    text-align: center;
    margin-top: 40px;
}