.voteInfo {
    margin-right: 5px;
}

.fa-thumbs-up {
    color:darkseagreen;
    margin-right: 2px;
}

.fa-thumbs-down {
    color:darkseagreen;
    margin-right: 2px;
    margin-left: 10px;
}

.fa-thumbs-down:hover {
    color:gold;
    margin-right: 2px;
    cursor: pointer;
}

.fa-thumbs-up:hover {
    color:gold;
    margin-right: 2px;
    cursor: pointer;
}

.votted {
    color: goldenrod;
}