.box {
    position: relative;
}

.center {
    height: 15rem;
    width: 40rem;
    background-color: rgba(25, 17, 28, 0.7);
    margin: 0 auto;
    margin-bottom: 7rem;
}

.cover {
    grid-area: cover;
    height: 250px;
    width: 150px;
    position: relative;
    top: 10%;
    margin: 0 auto;
}

.info-container {
    position: absolute;
    display:inline-block;
    bottom: 0;
    height: 250px;
    width: 150px;
    margin-left: 12px;
}

.info-data {
    display: none;
    position: absolute;
    bottom: 0;
    z-index: 1;
    text-align: center;
    width: 100px;
    margin-left: 20%;

}
.info-container:hover {
    background-color: rgba(25, 17, 28, 0.7);
}

.info-container:hover .info-data {
    display: inline;
}