.AllBooks {
    margin: 100px auto;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(25, 17, 28, 0.7);
    color: white;
    max-width: 800px;
    border-radius: 8px;
};